body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}


header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}


header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}


main {
    padding: 20px;
}


.MainPic {
    width: 100px;
    max-width: 150px;
    border-radius: 50%;
}



footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}


ul {
    list-style: none;
}

/* Existing styles for the gallery images */
.Gallery img {
    width: 400px; 
    height: auto; 
    border: 2px solid black; 
    border-radius: 10px; 
    margin: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.Gallery img:hover {
    color: #424242; 
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    opacity: 1;
    transform: scale(1.15);
    -ms-transform: scale(1.15); /* IE 9 */
    -webkit-transform: scale(1.15); /* Safari and Chrome */
}

/* Modal styles */
.image-modal {
    display: none; /* Hidden by default */
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.9); /* Black background with opacity */
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 90%; 
    max-height: 90%; 
    animation: zoomIn 0.3s ease-in-out;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

/* Modal zoom animation */
@keyframes zoomIn {
    from {
        transform: scale(0.7);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
